.building{
    border: 1px solid black;
    width: 50%;
    height: 500px;
    margin: auto;
    text-align: center;
}

.elevator{
    border: 1px solid black;   
    height: 30px;
    width:20px;
    margin: 40px;
}

.building{

}