<div class="building">
  <div class="floors">
    <p *ngFor="let floor of floors">{{floor}}</p>
  </div>

  <div class="elevators">
      <img class="elevator" *ngFor="let elevator of elevators" src='/assets/elevator.jpg' [ngClass]="{'elevatorArrived': elevator.status=='arrived', 'elevatorBusy': elevator.status=='busy'}">
  </div>

  <div class="buttons">
    <button class="button" (click)="findClosetElevator(floorCall)" *ngFor="let floor of floors; let floorCall=index">call</button>
  </div>
</div>
<div id="container">
  <div class="timer"></div>
  <div class="timer"></div>
  <div class="timer"></div>
  <div class="timer"></div>
  <div class="timer"></div>
</div>





  


